
.sidebar {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  // max-width: 1440px;

  // border-radius: 20px 20px 0px 0px;

  // padding: 60px 8px;
  // background-color: $sidebar-fon;

  // чтобы в девтулз не появлялось серых линий
  box-shadow: 2px 7px 16px 2px $sidebar-top;
  // box-shadow: 0 2px 0px $sidebar-fon;

  // background-image: url(../assets/img/bg-ball.webp);
  // @supports not (background-image: url(../assets/img/bg-ball.webp)) {
  //   background-image: url(../assets/img/bg-ball.png);
  // }

  // background-repeat: no-repeat;
  // background-clip: border-box;
  // background-position: center;
  // background-size: cover;
  // background-size: contain;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial;
}

.sidebar-container {
  display: grid;
  grid-template-columns: 1fr 2fr;

  width: 100%;
  column-gap: 10px;
  // min-height: 100px;
  // min-height: 100%;

  min-height: 100vh;

  @media (max-width: $mobile-break-point) {
  // @media (max-width: 640px) {
    grid-template-columns: 1fr;
    /* На мобильных меняем на одну колонку */
  }

  position: relative;

  &__button {
    border: none;
    position: absolute;

    top: 10px;
    right: 20px;

    color: $sidebar-top;
    font-weight: 600;

    cursor: url(../assets/img/pointinghand.svg), pointer;

    transition: color $tr-time ease-in-out;

    @media (max-width: $mobile-break-point) {
    // @media (max-width: 640px) {
      color: $sidebar-fon;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $tag-green;
        transition: color $tr-time ease-in-out;
      }
    }
  }
  &__svg {
    position: absolute;

    top: 8px;
    right: 50px;

    color: $sidebar-top;
    font-weight: 600;

    cursor: url(../assets/img/pointinghand.svg), pointer;

    transition: color $tr-time ease-in-out;

    @media (max-width: $mobile-break-point) {
    // @media (max-width: 640px) {
      color: $sidebar-fon;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $tag-green;
        transition: color $tr-time ease-in-out;
      }
    }
  }

  &_left {
    // background-color: red;
    // height: 50px;

    background: $sidebar-fon;
    // position: relative;
    display: flex;
    flex-direction: column;
  }



  &_right {
    // background-color: goldenrod;
    // background: rgb(255, 255, 255);
    background: $static-white;
  }
}

.download-svg {
  width: 15px;
  height: 15px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: none;

  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // background: rgba(0, 0, 0, 0.5);

  position: absolute;
  top: 5px;
  right: 45px;

  // display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  animation: spin 2s linear infinite;

  &_active {
    display: flex;
  }

  &__svg {

    transform: scaleY(-1);
    height: 24px;
    width: 24px;
    color: $sidebar-top;

    @media (max-width: $mobile-break-point) {
    // @media (max-width: 640px) {
      color: $sidebar-fon;
    }
  }
}

/******************************************** */

.header-blue {
  background: $sidebar-top;
  // background: #395a86;
  color: white;
  padding: 20px;
  min-height: 56px;
  // height: 55.625px;
}

.name {
  // font-size: 15px;
  // font-weight: bold;
  display: flex;
  flex-direction: column;

  // flex-wrap: wrap;
  gap: 4px;

  font-family: Arial;
  font-size: 15px; // от него считает line-height в дочерних элементах
  // font-weight: 600;
  // line-height: 152%;
  // letter-spacing: 0.16em;
  line-height: 125%;

  &__title {
    letter-spacing: 0.04em;

    font-size: 15px; // чтобы перебить h1
    font-weight: 600;
  }

  &__text {
    font-size: 11px;
    font-weight: 400;
  }
}

.avatar-section {
  position: relative;
  background: $sidebar-top;
  // background: #395a86;
  height: $avatar-radius-height;
  // height: 40px;
  border-radius: 0 0 50% 50%;
  // border-radius: 0 0 100px 100px;
  margin-top: -2px;
}

.avatar-circle {
  position: absolute;
  // top: -65px;
  left: 50%;
  transform: translateX(-50%);

  // width: 100%;
  // height: 100%;
  // max-width: 130px;
  // max-height: 130px;

  // width: 130px;
  // height: 130px;

  /* Адаптивный размер аватарки */
  width: $avatar-size;
  height: $avatar-size;
  // width: clamp(80px, 26vw, 130px);
  // height: clamp(80px, 26vw, 130px);

  // width: clamp(80px, 15vw, 130px);
  // height: clamp(80px, 15vw, 130px);
  // min-width: 60px;
  // min-height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: $sidebar-fon;
  // background: white;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-container-img {
  width: 92%;
  height: 92%;
  // object-fit: cover;
  border-radius: 50%;
  overflow: hidden;

  position: relative;
}

.avatar-image {
  // width: 92%;
  // height: 92%;

  width: 107%;
  // height: 100%;

  // max-width: 120px;
  // max-height: 120px;
  // width: 120px;
  // height: 120px;

  object-fit: cover;

  position: absolute;
  top: -15%;
  left: 0%;

  // top: 0;
  // left: 0;
  // top: 5px;
  // left: 5px;

  // border-radius: 50%;
}

/******************************************** */


.sidebar-content {
  max-width: 430px;
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 12px;

  color: $static-white;
  text-align: center;

  &__caption {
    @include caption;
  }

  &__title {
    @include header-1;
  }

  &__btn {
    @include action-small;
    padding: 20px 32px;
    background-color: $dark;
    border-radius: 20px;
    max-width: 237px;

    transition: all 0.6s;

    @include cansel-color-touch;
    // -webkit-tap-highlight-color: transparent; // убирает синий цвет при таче
  }

  @media (hover: hover) and (pointer: fine) {
    &__btn:hover {
      color: $dark;
      background-color: $static-white;
      transition: all 0.6s;
    }

  }
}


/* ***************************************** */

.sidebar-main {
  flex-grow: 1;

  padding-top: calc($avatar-size - $avatar-radius-height);
}

/* ***************************************** */

.sidebar-footer {
  // position: absolute;
  // bottom: 0;
  // left: 0;
  width: 100%;
  height: calc($avatar-radius-height);
  // height: calc($avatar-radius-height * 0.75);
  // height: 30px;
  background: $sidebar-top;
  // border-radius: 50% 0 0 0;

  flex: 0 0 auto;

  display: flex;

  &__radius {
    width: 100%;
    height: 100%;
    background: $sidebar-fon;
    margin-top: calc(-1 * $avatar-radius-height * 0.04);
    // margin-top: calc(-1 * $avatar-radius-height * 0.25);
    // margin-top: -10px;
    border-radius: 0 0 50% 50%;

    // box-shadow: 
    //     0 -5px 15px rgba(0, 0, 0, 0.1),   /* Тень вверх */
    //     -5px 0 15px rgba(0, 0, 0, 0.1),   /* Тень влево */
    //     5px 0 15px rgba(0, 0, 0, 0.1);    /* Тень вправо */
  }
}

/* ***************************************** */

.section {
  // padding: 15px;
  padding: 15px 15px 0px 15px;
}

.section-title {
  color: $sidebar-top;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}


/*****************************************/

.divider {
  height: 1px;
  background: $add-color-dark;
  margin: 10px 0;

  width: 100%;

  &_end {
    display: none;
    background: inherit;
    height: 6px;
    margin: 0;
    border-top: solid $add-color-dark 1px;
    border-bottom: solid $add-color-dark 1px;

    @media (max-width: $mobile-break-point) {
    // @media (max-width: 640px) {
      display: block;
    }
  }
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 10px;

  line-height: 125%;
  letter-spacing: 0.04em;

  font-style: normal; // чтобы сбросить address

  // &:hover .contact-icon  {
  //   fill: $tag-green;
  //   transition: fill $tr-time ease-in-out;
  // }
}

@media (hover: hover) and (pointer: fine) {
  a.contact-item:hover .contact-icon  {
    fill: $tag-green;
    transition: fill $tr-time ease-in-out;
  }
}

.contact-icon {
  width: 15px;
  height: 15px;
  fill: $sidebar-top;
  transition: fill $tr-time ease-in-out;
  // fill: #395a86;
  flex-shrink: 0;

  // &:hover {
    
  // }
}

/************************************/

.skill-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-size: 10px;
}

.skill-dots {
  display: flex;
  gap: 5px;

  font-weight: 600;
  color: $sidebar-top;
}

.dot {
  width: 7.5px;
  height: 7.5px;
  border-radius: 50%;
  background: $sidebar-top;
}

.dot-light {
  background: $add-color-light;
}

/**************************************************/

/* Правая колонка */
.main-content {
  padding: 30px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 20px;
}

// .main-section {
//   // margin-bottom: 30px;
//   padding-bottom: 20px;
// }

// .education-item {
//   margin-bottom: 20px;
// }

.project-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  // padding-bottom: 15px;
}

.project-item {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  // margin-bottom: 20px;
}

.title {
  font-size: 10px;
  font-weight: bold;
  color: #333333;
  // margin-bottom: 5px;
  display: block;

  &_education {
    margin-bottom: 5px;
  }
}

.subtitle {
  font-size: 10px;
  color: $sidebar-top;
  // margin-bottom: 5px;
  display: block;

  &_about {
     font-weight: bold;
     line-height: 1.5;
  }

  &_education {
    padding-left: 10px;
  }
}

.text {
  font-size: 10px;
  color: black;
  display: block;

  &__content {
    font-size: 8px;
    padding-left: 10px;
    padding-bottom: 5px;
  }

  &__about {
    padding-left: 10px;
  }
}

.link {
  color: black;
  text-decoration: none;
  // border-bottom: 0.5px solid black;

  // padding-bottom: 1px;
  display: block;
}

.link-space {
  height: 4px;
}

.task-item {
  position: relative;
  padding-left: 20px;
  // margin: 3px 0;

  // margin: 10px 0;
  // display: block;
}

.task-item::before {
  content: '';
  position: absolute;
  left: 5px;
  top: 3px;
  width: 4px;
  height: 4px;
  background: black;
  border-radius: 50%;
}

/*************************/
.list {
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

// .list__item {
//   font-weight: 400;
// }